@font-face {
    font-family: "titillium-regular";
    src: url("../../assets/fonts/Titillium_Web/Helvetica.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "titillium-semi-bold";
    src: url("../../assets/fonts/Titillium_Web/Helvetica-Bold.ttf");
    font-weight: 600;
  }
  